body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  letter-spacing: 1px;
}

header {
  margin: 20px;
}

h1 {
  font-size: 50px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 300;
}

#board {
  display: flex;
  flex-wrap: wrap;
  border-color: #17293d;
  margin: 30px auto;
  background-color: #17293d;
}

.tile {
  border-color: #17293d;
  background-color: #888f96;

  /* alignment to the middle of tile */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
  color: #17293d;
}

/* .t2 {
  background-color: #eef6ff;
  color: #17293d;
}

.t4 {
  background-color: #cdddee;
  color: #17293d;
}

.t8 {
  background-color: #a8c4e4;
  color: #17293d;
}

.t16 {
  background-color: #789cc2;
  color: #ffffff;
}

.t32 {
  background-color: #53779d;
  color: #ffffff;
}

.t64 {
  background-color: #49688a;
  color: #ffffff;
}

.t128 {
  background-color: #365375;
  color: #ffffff;
}

.t256 {
  background-color: #274361;
  color: #ffffff;
}

.t512 {
  background-color: #183453;
  color: #ffffff;
}

.t1024 {
  font-size: 35px;
  background-color: #17293d;
  color: #ffffff;
}

.t2048 {
  font-size: 35px;
  background-color: #09192c;
  color: #ffffff;
} */

footer {
  width: 500px;
  margin: 0 auto;
  text-align: left;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

p {
  text-align: justify;
  letter-spacing: 2px;
  font-size: 12px;
  line-height: 20px;
}
