body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  letter-spacing: 1px;
}

header {
  margin: 20px;
}

h1 {
  font-size: 50px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 300;
}

#board {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  background-color: #17293d;
}

.tile {
  /* alignment to the middle of tile */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #17293d;
}

footer {
  width: 500px;
  margin: 0 auto;
  text-align: left;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

p {
  text-align: justify;
  letter-spacing: 2px;
  font-size: 12px;
  line-height: 20px;
}
